.container .filters {
  height: 70px;
  background-color: white;
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  position: relative;
  display: flex;
}

.filters div {
  display: flex;
  flex-direction: column;
}
.button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  border: none;
  width: 20%;
  position: absolute;
  border-radius: 4px;
  right: 30px;
  top: 10px;
}

.button:hover {
  opacity: 0.9;
}

.locations {
  border-right: 1px solid #dddddd;
}
.locations,
.amenities {
  height: 100%;
  width: 25%;
}

.filters h3 {
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 30px;
  margin-top: 10px;
}

.filters h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 13px;
  margin-left: 30px;
  margin-bottom: 12px;
}

.popover {
  visibility: hidden;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin-top: 0;
  padding-bottom: 25px;
}
.popover li {
  list-style: none;
  margin-left: -10%;
  line-height: 25px;
}

ul .subitem {
  margin: auto;
}

.sublist {
  padding-top: 20px;
}
.amenities:hover .popover,
.locations:hover .popover {
  visibility: visible;
}

.popover h2 {
  margin-bottom: 2px;
}
